.po{
    background-image: url(../images/pro.jpg);
    background-repeat: no-repeat;
    background: width 100px;
    background-size: cover; 
    border-radius: 12px;
}
.card {
    transition: transform 0.2s, box-shadow 0.2s;
  }
  
  .card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  }
  
  .modal {
    display: none; /* Hidden by default */
  }
  
  .modal.show {
    display: block; /* Show modal when active */
  }
  